<div class="metadata">
  <h2>Monastery Information</h2>
  <% if @res["date_display"].present? %>
    <p>
      <strong>Founding Date:</strong> <%= @res["date_display"] %>
    </p>
  <% end %>
  <% if @res["type"].present? %>
    <p>
      <strong>Religious tradition: </strong><%= @res["type"] %>
    </p>
  <% end %>
  <% if @res["spatial"].present? %>
    <p>
      <strong>Location: </strong><%= @res["spatial"]["name"] %>
    </p>
  <% end %>
  <% if @res["description"].present? %>
    <p>
      <strong>Description: </strong><%= @res["description"] %>
    </p>
  <% end %>
  <% if @res["rdf"].present? %>
    <h3>Associated figures</h3>
    <% figures = @res["rdf"].select { |i| i["predicate"] != "sameAs" } %>
    <% figures.each do |figure| %>
      <% id = parse_md_parentheses(figure["subject"]) %>
      <% name = parse_md_brackets(figure["subject"]) %>
      <h4>
        <% if id %>
          <%= link_to name, religious_figures_item_path(id) %>
        <% else %>
          <%= name %>
        <% end %>
      </h4>
      <ul>
        <li>Role: <%= figure["predicate"] %></li>
        <li>Associated Teaching: <%= figure["source"] %></li>
        <li>Story: <%= figure["note"] %></li>
      </ul>
    <% end %>
  <% end %>
  <h3>Citation</h3>
  <% Array.wrap(@res["citation"]).each_with_index do |citation, idx| %>
    <%= render partial: "citation", locals: { 
      author: @res["creator"]["name"], 
      title: citation["name"], 
      date: citation["date"], 
      publisher: citation["publisher"],
      page_url: @res["rights_uri"][idx],
      accessed: @res["date_accessed_k"] 
      } %>
  <% end %>
</div>
