<div class="metadata">
  <% if @res["date_not_before"].present? %>
    <% before_date = Date.parse(@res["date_not_before"])%>
    <p>
      <strong>Lifespan:</strong>
      <%= before_date.strftime("%Y") %> -
      <% if @res["date_not_after"].present? &&  @res["date_not_after"] != @res["date_not_before"] %>
        <% after_date = Date.parse(@res["date_not_after"])%>
        <%= after_date.strftime("%Y") %>
      <% end %>
    </p>
  <% end %>
    <% if @res["spatial"].present? %>
    <p>
      <strong>Birthplace: </strong><%= @res["spatial"]["name"] %>
    </p>
  <% end %>
  <% if @res["type"].present? %>
    <p>
      <strong>Religious tradition: </strong><%= @res["type"] %>
    </p>
  <% end %>
  <% if @res["description"].present? %>
    <p>
      <strong>Description: </strong><%= @res["description"] %>
    </p>
  <% end %>
  <h3>External links</h3>
  <% links = @res["rdf"].select { |i| i["predicate"] == "sameAs" } %>
  <% links.each do |link| %>
    <p><%= link["source"] %>: <%= link_to @res["relation"], link["object"] %></p>
  <% end %>
  
  <% if @res["rdf"].present? %>
    <h3>Associated monasteries</h3>
    <% monasteries = @res["rdf"].select { |i| i["predicate"] != "sameAs" } %>
    <% monasteries.each do |monastery| %>
      <% id = parse_md_parentheses(monastery["object"]) %>
      <% name = parse_md_brackets(monastery["object"]) %>
      <h4><%= link_to name, monasteries_item_path(id) %></h4>
      <ul>
        <li>Role: <%= monastery["predicate"] %></li>
        <li>Associated Teaching: <%= monastery["source"] %></li>
        <li>Story: <%= monastery["note"] %></li>
      </ul>
    <% end %>
  <% end %>
</div>
